{{ define "main" }}
<div class="content">
	<section class="page">
		<div class="container {{ if .Params.full_width }}max-container{{ end }}">

		{{ partial "page/banner" . }}
		<div class="blog-post text-container">
			{{ partial "posts/post-title" . }}

			<p class="editor-link"><a href="cloudcannon:collections/{{ .RelPermalink }}" class="btn"><strong>&#9998;</strong> Edit Post</a></p>
			<div class="post-content">
				{{ .Content }}
			</div>

			{{ with (index .Site.Data.staff_members .Params.author_staff_member )}}
				<div class="author">
					<div class="square-image"><img src="{{ .image_path }}" alt="{{ .name }}"/></div>
					<p class="blurb">{{ .blurb }}</p>
				</div>
			{{ end }}

			<div class="blog-navigation">
				{{ with .Page.PrevInSection }} 
					<a class="prev" href="{{ .Permalink | relURL }}"> &laquo; {{.Title }}</a>
				{{ end }}
				{{ with .Page.NextInSection }} 
					<a class="next" href="{{ .Permalink | relURL }}"> &raquo; {{.Title }}</a>
				{{ end }}
			</div>

			{{ template "_internal/disqus.html" . }}

		</div>
	</section>
</div>
{{ end }}