<!doctype html>

<html lang="en">
	{{ partial "meta/head" . }}
	
	<body>
		{{ partial "header/header" . }}
		<div class="content">
			<section class="page">
				<div class="container {{ if .Params.full_width }}max-container{{ end }}">
		
				{{ partial "page/banner" . }}

				{{ block "main" . }}{{ end }}

				</div>
			</section>
		</div>
		{{ partial "footer/footer" . }}
		
		<script>
			document.getElementById("open-nav").onclick = function () {
				document.body.classList.toggle("nav-open");
				return false;
			};
		</script>
	</body>
</html>
