{{ define "main" }}
<div class="text-container">
	<p class="editor-link"><a href="cloudcannon:collections/content/posts/" class="btn"><strong>&#9998;</strong> Add Post</a></p>
		<ul class="blog-posts">
			{{ range .Paginator.Pages }}
			<li class="blog-post">
				<h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
				{{ partial "posts/post-title" . }}

				<div class="post-content">
					<p>{{ .Summary }}</p>
					<div class="button"><a href="{{ .RelPermalink }}">Read More</a></div>
				</div>
			</li>
			{{ end }}
		</ul>

		{{ if gt .Paginator.TotalPages 1 }}
		<div class="pagination">
			{{ if .Paginator.HasPrev }}
			<a href="{{ .Paginator.Prev.URL | relURL }}" class="previous btn">&larr; Newer posts</a>
			{{ end }}

			<span class="page_number ">{{ .Paginator.PageNumber }} of {{ .Paginator.TotalPages }}</span>

			{{ if .Paginator.HasNext }}
				<a href="{{ .Paginator.Next.URL | relURL }}" class="next btn">Older posts &rarr;</a>
			{{ end }}
		</div>
		{{ end }}

</div>
{{ end }}