{{ define "main" }}
<p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/data/staff_members/" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p>
<ul class="staff">
	{{ range $.Site.Data.staff_members }}
		<li>
			<div class="square-image"><img src="{{ .image_path }}" alt="{{ .name }}"/></div>
			<div class="name"><a target="_blank" rel="noopener" href="https://twitter.com/{{ .twitter }}">{{ .name }}</a></div>
			<div class="position">{{ .position }}</div>
		</li>
	{{ end }}
</ul>
{{ end }}