{{ define "main" }}
<div class="content">
	<section class="page">
		<div class="container {{ if .Params.full_width }}max-container{{ end }}">

		{{ partial "page/banner" . }}

		<p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p>
		<ul class="staff">
			{{ range $.Site.Data.staff_members }}
				<li>
					<div class="square-image"><img src="{{ .image_path | relURL }}" alt="{{ .name }}"/></div>
					<div class="name"><a target="_blank" href="https://twitter.com/{{ .twitter }}">{{ .name }}</a></div>
					<div class="position">{{ .position }}</div>
				</li>
			{{ end }}
		</ul>
	</div>
</section>
</div>
{{ end }}