<nav>
	<a class="nav-toggle" id="open-nav" href="#">&#9776;</a>
	<a class="editor-link btn" href="cloudcannon:collections/data/navigation.yml" class="btn"><strong>&#9998;</strong> Edit navigation</a>
	{{ range $.Site.Data.navigation }}
		{{ $class := "" }}
		{{ if .highlight }}
			{{ $class = print $class " highlight" }}
		{{ end }}

		{{ if eq .link .Permalink }}
			{{ $class = print $class " active" }}
		{{ end }}
		<a href="{{ .link | relURL }}" class="{{ $class }}" {{ if .new_window }}target="_blank"{{ end }}>{{ .name }}</a>
	{{ end }}
</nav>